*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;  
}

.container {
    text-align: center;
    margin: 30px;
}

.mainHeading {
    padding: 20px;
    font-size: 3rem;
    color: #00aeff;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    padding: 0px;
    font-size: 1.3rem;
}

#diceText {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 0px;
}

#diceImage img{
    margin: 10px 25px;
    width: 150px;
    border:2px solid black;
    border-radius: 20px;
}

#rollDice {
    padding: 15px 10px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #00aeff;
    cursor: pointer;
}

#rollDice:hover {
    background-color: #0095ff9a ;
}





